---
# Mock CRD for KubeDescheduler
# Simplified version of the descheduler operator's CRD for testing
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: kubedeschedulers.operator.openshift.io
spec:
  group: operator.openshift.io
  names:
    kind: KubeDescheduler
    listKind: KubeDeschedulerList
    plural: kubedeschedulers
    singular: kubedescheduler
  scope: Cluster
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            type: object
            properties:
              deschedulingIntervalSeconds:
                type: integer
                minimum: 1
                default: 3600
              profiles:
                type: array
                items:
                  type: string
                  enum:
                  - AffinityAndTaints
                  - TopologyAndDuplicates
                  - LifecycleAndUtilization
                  - EvictPodsWithLocalStorage
                  - EvictPodsWithPVC
                  - LoadAware
              profileCustomizations:
                type: object
                properties:
                  namespaces:
                    type: object
                    properties:
                      included:
                        type: array
                        items:
                          type: string
                      excluded:
                        type: array
                        items:
                          type: string
                  devEnableEvictionsInBackground:
                    type: boolean
                  podLifetime:
                    type: integer
                    minimum: 0
          status:
            type: object
            x-kubernetes-preserve-unknown-fields: true
    subresources:
      status: {}
