---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - hco.kubevirt.io
  resources:
  - configurationplans
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - hco.kubevirt.io
  resources:
  - configurationplans/finalizers
  verbs:
  - update
- apiGroups:
  - hco.kubevirt.io
  resources:
  - configurationplans/status
  verbs:
  - get
  - patch
  - update
