apiVersion: hco.kubevirt.io/v1alpha1
kind: ConfigurationPlan
metadata:
  labels:
    app.kubernetes.io/name: virt-advisor-operator
    app.kubernetes.io/managed-by: kustomize
  name: configurationplan-sample
spec:
  # TODO(user): Add fields here
